<!DOCTYPE html>
<html lang="en">
<head>


<title>Major Florida Hurricane</title>
<meta charset ="utf-8">
</head>
<body>
<header style="color:green; text-align:center; font-size=4opx;">
<h1> Jingle Bells </h1>


</header>
<nav>
<hr>
<a href="index.html">Home</a> &nbsp; &nbsp;

<a href="hurricaneian.html">Hurricane Ian</a> &nbsp; &nbsp;
<a href="hurricaneandrew.html">Hurricane Andrew</a> &nbsp; &nbsp;
<a href="hurricaneirma.html">Hurricane Irma</a> &nbsp; &nbsp;

<a href="hurricanemichael">Hurricane Michael</a> &nbsp; &nbsp;
<hr>
</nav>
<main>

</main>
<footer>
<hr>
<a href="https://weather.com/">Weather Channel</a>&nbsp;<a href="htttps://noaa.gov/">noaa.gov</a><br>
	 <small>&copy; Copyright 2022. All Rights Reserved</small><small> <a href="mailto:flordiahurricanes1@gmail.com">flordiahurricanes1@gmail.com</a></small>
	 <a href="https://www.tiktok.com"><img src="images/tt.png" alt="Logo" height="16" width="16"> </a>
	 <a href="https://www.twitter.com"><img src="images/twit.png" alt="Logo" height="16" width="16"></a>
	 <a href="https://www.youtube.com"><img src="images/yt.png" alt="Logo" height="16" width="16"></a>
	 <a href="https://www.instagram.com"><img src="images/insta.png" alt="Logo" height="16" width="16"></a>
</footer>
</body>
</html>